---
layout: layout
---

<div id="content">
    <h1 id="title"><%= page.title %></h1>

    <div id="Article">
            <div id="ArticleText">
                <%- page.content %>
                <h2>如果要联系我：</h2>

                <table>
                    <thead>
                        <th></th><th></th><th></th>
                    </thead>
                    <tbody>
                        <td>
                            <a href="tencent://message/?uin=<%- config.QQ %>&Site=Sambow&Menu=yes">
                                <i class="fa fa-qq"></i>QQ
                            </a>
                        </td>
                        
                        <td>
                            <a href="https://github.com/<%- config.GitHub %>">
                                <i class="fa fa-github"></i>GitHub
                            </a>
                        </td>
                        
                        <td>
                            <a href="mailto:<%= config.Email %>">
                                <i class="fa fa-envelope"></i>邮箱
                            </a>
                        </td>
                    </tbody>
                </table>
            </div>
    </div>
    <br>
</div>