<div id="content">
    <h1 id="title"><%= page.title %></h1>
    <div id="Article">
            <div id="ArticleText">
                <%
                var years = {};
                site.posts.sort('date').reverse().forEach(function(post){
                var year = post.date.year()
                if(years[year]===undefined){
                years[year] = [];
                }
                years[year].push(post);
                });
                %>
                <!-- 归档列表 -->

                <% Object.keys(years).reverse().forEach(function(year){  %>
                <div class="one-tag-list">
                <span class="tag-text"><%= year %></span>
                <ul>
                <% years[year].map(function(post){  %>

                <li id="archiveTage">
                    <%= post.date.format('MM-DD') %>
                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                    <a href="<%- config.root %><%- post.path %>" style="color: #0085a1">
                    <span>
                        <%- post.title || "Untitled" %>
                    </span>
                    </a>
                </li>
                <% }) %>
                </ul>
                </div>
                <% }) %>
                <br><br>
            </div>
    </div>
</div>