<head>
    <meta charset="utf-8">
    <title><%= config.title %></title>
    <%- css('css/font-awesome-4.7.0/css/font-awesome.min.css') %>
    <%- css('css/style.css') %>
    <%- js('js/jquery.js') %>
    <%- js('js/main.js') %>
    
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <% if (page.title) { %>
        <meta name="description" content="<%= page.description %>" />
        <meta name="keywords" content="<%= page.keyword %>" />
    <%} else { %>
        <meta name="description" content="<%= config.description %>" />
        <meta name="keywords" content="<%= config.keyword %>" />
    <% } %>
</head>