
<div id="content">
    <h1 id="title">
        <%= config.title %>
    </h1>
    <% page.posts.each(function(page){ %>
    <div id="Article">
            <h2 id="ArticleTitle">
                <a href="/<%- page.path %>">
                    <%- page.title %><br>
                    <div></div>
                </a>
            </h2>
            <div id="ArticleText">
                <%- truncate(strip_html(page.content), {length: 200, omission: '...'}) %>
            </div>
            <br>
            <p>
                <% page.categories.forEach(function(category){ %> 
                    <span id="categorieTage"><%= category.name %></span> 
                <% }) %>
                
                <% page.tags.forEach(function(tage){ %>
                    <span id="categorieTage"><%= tage.name %></span> 
                <% }) %>
            </p>
            <br>
            <hr>
    </div>
    <% }); %>
    <div id="Articlefooter">
        <div id="previous"><a href="<%- config.root %><%- page.prev_link %>">上一页</a></div>
        <div id="next"><a href="<%- config.root %><%- page.next_link %>">下一页</a></div>
    </div>
    <p></p>
    <br>
</div>