<div id="app">
    <div id="content">
        <%- include('nav.ejs') %>

        <div id="title">
            <h1>
                <%= config.title %><br>
                <% if(config.subtitle!=null) { %>
                <p style="font-size: 0.5em;margin-top: 10px;">
                    <%= config.subtitle %><br>
                </p>
                <% } %>
            </h1>
        </div>

        <% page.posts.each(function(page){ %>
        <div id="article">
            <a id="articleTitle" href="/<%- page.path %>">
                <%- page.title %><br>
            </a>
            <% if(page.subtitle!=null){ %>
                <span style="font-size: 0.8em;">
                    <%- page.subtitle %>
                </span>
                <br>
            <% } %>
            <br>
            <span id="indexArticleText">
                <%- truncate(strip_html(page.content), {length: 50, omission: '...'}) %>
            </span>
            <p>
                <% page.categories.forEach(function(category){ %> 
                    <a id="categorieTage" href="/categories/#<%= category.name %>"><%= category.name %></a> 
                <% }) %>
                
                <% page.tags.forEach(function(tage){ %>
                    <a id="categorieTage" href="/tages/#<%= tage.name %>"><%= tage.name %></a> 
                <% }) %>
            </p>
        </div>
        <hr>
        <% }); %>

        <div id="index-footer">
            <% if (page.prev){ %>
            <a href="<%- config.root %><%- page.prev_link %>">上一页</a>
            <% } %>
            <% if (page.next){ %>
            <a id="index-next" href="<%- config.root %><%- page.next_link %>">下一页</a>
            <% } %>
        </div>    
    </div>
</div>
