<!DOCTYPE html>
<html lang="cn">
    <%- include("header.ejs") %> 
    
    <body>
        <div id="MobileHead" class="fa fa-navicon">
            <ul>
                <li><a class="fa fa-home" href="<%- config.root %>"> 首页</a><p></p></li>
                <li><a class="fa fa-user" href="<%- config.aboutRoot %>"> 关于</a><p></p></li>
                <li><a class="fa fa-archive" href="<%- config.archivesRoot %>"> 归档</a><p></p></li>
                <li><a class="fa fa-list" href="<%- config.categoryRoot %>"> 分类</a><p></p></li>
                <li><a class="fa fa-tags" href="<%- config.tageRoot %>"> 标签</a><p></p></li>
                <li><a class="fa fa-envelope-square" href="<%- config.lyRoot %>"> 留言</a><p></p></li>
                <li id="MobileSearchButton"><a class="fa fa-search"> 搜索</a><p></p></li>
            </ul>
        </div>
        <div id="MobileSearch">
            <div id="MSbutton" class="fa fa-arrows-alt"></div>
            <input type="text" placeholder="搜索文章" id="local-search-input2" results="0"/>
            <div id="local-search-result2"></div>
        </div>
        <%- body %>
        <div id="search">
            <div id="site_search">
            <input type="text" placeholder="搜索文章" id="local-search-input" results="0"/>
            <div id="local-search-result"></div>
            </div>
        </div>
        
        <div id="Menu">
            <ul>
                <li><a class="fa fa-home" href="<%- config.root %>"> 首页</a><p></p></li>
                <li><a class="fa fa-user" href="<%- config.aboutRoot %>"> 关于</a><p></p></li>
                <li><a class="fa fa-archive" href="<%- config.archivesRoot %>"> 归档</a><p></p></li>
                <li><a class="fa fa-list" href="<%- config.categoryRoot %>"> 分类</a><p></p></li>
                <li><a class="fa fa-tags" href="<%- config.tageRoot %>"> 标签</a><p></p></li>
                <li><a class="fa fa-envelope-square" href="<%- config.lyRoot %>"> 留言</a><p></p></li>
                <li><a class="fa fa-search"> 搜索</a><p></p></li>
            </ul>
        </div>

    </body>
</html>