---
layout: layout
---
<div id="app" v-cloak>
    <div id="content">
        <%- include('nav.ejs') %>

        <% if(page.imageCover==null) { %>
        <div id="title">
            <h1>
                <%= page.title %><br>
                <% if(page.subtitle!=null){ %>
                    <p>
                        <%= page.subtitle %><br>
                    </p>
                    <br>
                <% } %>
                <p>作者：<%- config.author %><br>编写：<%= page.date.format(config.date_format) %></p>
            </h1>
        </div>
        <% } else { %>
        <div id="title">
            <h1 style="color: #fff;">
                <%= page.title %><br>
                <% if(page.subtitle!=null){ %>
                    <p style="color: #fff;">
                        <%= page.subtitle %><br>
                    </p>
                    <br>
                <% } %>
                <p style="color: #fff;">作者：<%- config.author %><br>编写：<%= page.date.format(config.date_format) %></p>
            </h1>
        </div>
        <% } %>

        <div id="article">
            <%- page.content %>   
            <br>
            <hr><br>
            <% if (page.prev){ %>
                <div id="article-previous">
                    <a href="<%- config.root %><%- page.prev.path %>" data-toggle="tooltip" data-placement="top" title="<%- page.prev.title %>">&larr; 上一篇</a>
                </div>
                <% } %>
                <% if (page.next){ %>
                <div id="article-next">
                    <a href="<%- config.root %><%- page.next.path %>" data-toggle="tooltip" data-placement="top" title="<%- page.next.title %>">下一篇 &rarr;</a>
                </div>
            <% } %>
            <br><br>
            <hr>
        </div>
    </div>

    <div id="comment">
        
        <%- include('comment.ejs') %> 
    </div>
</div>